.Home {
    margin: auto;
}

.Body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

}

.Body__CarteLogement {
    display: flex;
    gap: 5vh;
    height: 80vh;
}