.Footer {
    max-width: 1240px;
    height: 209px;
    background: #000000;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0;
    margin: auto;
    left: 0px;
    right: 0px;
    flex-direction: column;
    justify-content: center;
}

.Footer p {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}